<div class="container-fluid col-md-6">
  <h3 class="text-center lead">Add Member to Racing Team</h3>
  <br />
  <form [formGroup]="memberForm" (ngSubmit)="addMember()"> 
    <div>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            placeholder="First Name"
          />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            placeholder="Last Name"
          />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            formControlName="jobTitle"
            placeholder="Job Title"
          />
          <div *ngIf="submitted && f.jobTitle.errors" class="invalid-feedback">
            <div *ngIf="f.jobTitle.errors.required">Job Title is required</div>
          </div>
        </div>
        <!--We may have to make a service call to get this list-->
        <select id="team" class="col-md-6 custom-select" formControlName="team">
          <option *ngFor="let team of teams">{{ team.name }}</option>
        </select>
        <div *ngIf="submitted && f.team.errors" class="invalid-feedback">
          <div *ngIf="f.team.errors.required">Team is required</div>
        </div>
      </div>
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active" formControlName="status" /> Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" formControlName="status" /> Inactive
          </label>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right" [disabled]="!memberForm.valid || loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Save Member
    </button>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
