<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentAdmin">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>


<app-banner></app-banner>

<router-outlet></router-outlet>